@*@{
    ViewBag.Title = "Home Page";
}*@

@*<div class="jumbotron">
    <h1>Ihud Блог</h1>
    <p class="lead">Блог с заметками</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@

@*<div class="row">
    <div class="col-md-4">
        <h2>Просмотр заметок</h2>
        <p>
            Начните с просмотра текущих заметок
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Пользователи</h2>
        <p>Посмотреть список пользователей</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Перейти к своему профилю</h2>
        <p>Вы можете просмотреть/изменить свой профиль</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@