@model IH.IhudBlog.Web.Models.NoteViewModel
@{
    Layout = null;
}

<script>
    
    $('.file-item').on('click', function () {
        var FileId = this.dataset.fileid;
        var url = '/Note/DownloadFile?fileid=' + FileId;
        var popup = window.open(url, "downloadfile");
        popup.blur();
        window.focus();
    })
    
</script>


<div>
    <div>@Model.Title</div>
    <hr />
    <span style="white-space: pre-line">@Model.Text</span>
</div>


<div>
    @foreach (var file in Model.Files)
    {
        <div class="file-item superclass" data-fileid=@file.Id> @file.FileN </div>

    }
</div>


